body {padding: 0px 0px 0px 26px;background: #ffffff; color: #000000;font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 9pt;}
h1, h2, h3, h4 {font-family: Verdana, Arial, Helvetica, sans-serif;margin-left: -6px;margin-top: .5em;margin-bottom: .5em; }
h1 {font-size: 160%;}
h2 {font-size: 145%;}
h3 {font-size: 130%;}
h4 {font-size: 115%;}
h5 {font-size: 105%;}
hr {align:"right";color:"#000080";noshade;}
ul p, ol p, dl p {margin-left: 0em;}
p {margin-top: .6em;margin-bottom:.6em;}
dl {margin-top: 0em;}
dd {margin-bottom: 0em;margin-left: 1.9em;}
dt {margin-top: .6em; }
ul, ol {margin-top: .6em;margin-bottom: 0em;}
ol {margin-left: 1.9em; }	
ul {list-style-type: disc;margin-left: 1.9em; }
li {margin-bottom: .6em;}
ul ol, ol ol {list-style-type: lower-alpha;}
pre {margin-top: .6em;margin-bottom: .6em; }
pre,code {font-family: Courier New, Courier, mono;color: #660000;}
table {background: #999999;margin-top: .6em;margin-bottom: .3em;}
th {padding: 4px 8px;background: #cccccc;text-align: left;font-size: 70%;vertical-align: bottom;height: 25px;}
td {padding: 4px 8px;background: #ffffff;vertical-align: top;font-size: 70%;height: 25px;}
blockquote {margin-left: 3.8em;margin-right: 3.8em;margin-top: .6em;margin-bottom: .6em;}
sup {text-decoration: none;font-size: smaller; }
a:link {color: #0066ff;}
a:visited {color: #0066ff;}
a:hover {color: #cc9900;}
.select {margin-bottom:-4px;border-width: 1px;border-style: solid;width: 400px;}
.input, .textarea {margin-bottom:-4px;border-width: 1px;border-style: solid;width: 400px;}
.submit {background-color: #CCCCCC;border-width: 1px;border-style: solid;}
.reset {background-color: #CCCCCC;border-width: 1px;border-style: solid;}
.button {background-color: #CCCCCC;border-width: 1px;border-style: solid;}
.InfoField {border: 2px solid #AAAAAA;padding: 4px 4px;background: #EFEFEF;}
