HB_VALID_B_UEACH_UWRAP_DHBS RCDATA "b_each_wrap.hbs"
HB_VALID_B_UHELPER_DHBS RCDATA "b_helper.hbs"
HB_VALID_B_UIF_UNOELSE_DHBS RCDATA "b_if_noelse.hbs"
HB_VALID_B_UUNLESS_DHBS RCDATA "b_unless.hbs"
HB_VALID_B_UWITH_UFIRST_DHBS RCDATA "b_with_first.hbs"
HB_VALID_BLOCK_UEACH_DHBS RCDATA "block_each.hbs"
HB_VALID_BLOCK_UIF_DHBS RCDATA "block_if.hbs"
HB_VALID_BLOCK_UNESTED_DHBS RCDATA "block_nested.hbs"
HB_VALID_BLOCK_UWITH_DHBS RCDATA "block_with.hbs"
HB_VALID_EDGE_UEACH_UELSE_DHBS RCDATA "edge_each_else.hbs"
HB_VALID_EDGE_UEACH_ULOOKUP_DHBS RCDATA "edge_each_lookup.hbs"
HB_VALID_EDGE_UIF_UINCLUDE_UZERO_DHBS RCDATA "edge_if_include_zero.hbs"
HB_VALID_EDGE_UIF_UNULL_ULITERAL_DHBS RCDATA "edge_if_null_literal.hbs"
HB_VALID_EDGE_ULITERALS_DHBS RCDATA "edge_literals.hbs"
HB_VALID_EDGE_ULOOKUP_UKEY_UPARAM_DHBS RCDATA "edge_lookup_key_param.hbs"
HB_VALID_EDGE_ULOOKUP_ULITERAL_UKEYS_DHBS RCDATA "edge_lookup_literal_keys.hbs"
HB_VALID_EDGE_ULOOKUP_UMISS_DHBS RCDATA "edge_lookup_miss.hbs"
HB_VALID_EDGE_UPARTIAL_UHASH_USUBEXPR_DHBS RCDATA "edge_partial_hash_subexpr.hbs"
HB_VALID_EDGE_UPARTIAL_UHASH_UVALUES_DHBS RCDATA "edge_partial_hash_values.hbs"
HB_VALID_EDGE_UPARTIAL_UNONOBJECT_UCONTEXT_DHBS RCDATA "edge_partial_nonobject_context.hbs"
HB_VALID_EDGE_UPATH_UALIASES_DHBS RCDATA "edge_path_aliases.hbs"
HB_VALID_EDGE_UQUOTE_UESCAPE_DHBS RCDATA "edge_quote_escape.hbs"
HB_VALID_EDGE_UTRUTHINESS_DHBS RCDATA "edge_truthiness.hbs"
HB_VALID_EDGE_UUNLESS_UINCLUDE_UZERO_DHBS RCDATA "edge_unless_include_zero.hbs"
HB_VALID_EDGE_UWITH_UELSE_DHBS RCDATA "edge_with_else.hbs"
HB_VALID_EDGE_UWITH_USCALAR_DHBS RCDATA "edge_with_scalar.hbs"
HB_VALID_G0001_DHBS RCDATA "g0001.hbs"
HB_VALID_G0002_DHBS RCDATA "g0002.hbs"
HB_VALID_G0003_DHBS RCDATA "g0003.hbs"
HB_VALID_G0004_DHBS RCDATA "g0004.hbs"
HB_VALID_G0005_DHBS RCDATA "g0005.hbs"
HB_VALID_G0006_DHBS RCDATA "g0006.hbs"
HB_VALID_G0007_DHBS RCDATA "g0007.hbs"
HB_VALID_G0008_DHBS RCDATA "g0008.hbs"
HB_VALID_G0009_DHBS RCDATA "g0009.hbs"
HB_VALID_G0010_DHBS RCDATA "g0010.hbs"
HB_VALID_G0011_DHBS RCDATA "g0011.hbs"
HB_VALID_G0012_DHBS RCDATA "g0012.hbs"
HB_VALID_G0013_DHBS RCDATA "g0013.hbs"
HB_VALID_G0014_DHBS RCDATA "g0014.hbs"
HB_VALID_G0015_DHBS RCDATA "g0015.hbs"
HB_VALID_G0016_DHBS RCDATA "g0016.hbs"
HB_VALID_G0017_DHBS RCDATA "g0017.hbs"
HB_VALID_G0018_DHBS RCDATA "g0018.hbs"
HB_VALID_G0019_DHBS RCDATA "g0019.hbs"
HB_VALID_G0020_DHBS RCDATA "g0020.hbs"
HB_VALID_G0021_DHBS RCDATA "g0021.hbs"
HB_VALID_G0022_DHBS RCDATA "g0022.hbs"
HB_VALID_G0023_DHBS RCDATA "g0023.hbs"
HB_VALID_G0024_DHBS RCDATA "g0024.hbs"
HB_VALID_G0025_DHBS RCDATA "g0025.hbs"
HB_VALID_G0026_DHBS RCDATA "g0026.hbs"
HB_VALID_G0027_DHBS RCDATA "g0027.hbs"
HB_VALID_G0028_DHBS RCDATA "g0028.hbs"
HB_VALID_G0029_DHBS RCDATA "g0029.hbs"
HB_VALID_G0030_DHBS RCDATA "g0030.hbs"
HB_VALID_G0031_DHBS RCDATA "g0031.hbs"
HB_VALID_G0032_DHBS RCDATA "g0032.hbs"
HB_VALID_G0033_DHBS RCDATA "g0033.hbs"
HB_VALID_G0034_DHBS RCDATA "g0034.hbs"
HB_VALID_G0036_DHBS RCDATA "g0036.hbs"
HB_VALID_G0037_DHBS RCDATA "g0037.hbs"
HB_VALID_G0038_DHBS RCDATA "g0038.hbs"
HB_VALID_G0039_DHBS RCDATA "g0039.hbs"
HB_VALID_G0042_DHBS RCDATA "g0042.hbs"
HB_VALID_G0043_DHBS RCDATA "g0043.hbs"
HB_VALID_G0044_DHBS RCDATA "g0044.hbs"
HB_VALID_G0045_DHBS RCDATA "g0045.hbs"
HB_VALID_G0046_DHBS RCDATA "g0046.hbs"
HB_VALID_G0047_DHBS RCDATA "g0047.hbs"
HB_VALID_G0048_DHBS RCDATA "g0048.hbs"
HB_VALID_G0049_DHBS RCDATA "g0049.hbs"
HB_VALID_G0050_DHBS RCDATA "g0050.hbs"
HB_VALID_G0051_DHBS RCDATA "g0051.hbs"
HB_VALID_G0052_DHBS RCDATA "g0052.hbs"
HB_VALID_G0053_DHBS RCDATA "g0053.hbs"
HB_VALID_G0054_DHBS RCDATA "g0054.hbs"
HB_VALID_G0055_DHBS RCDATA "g0055.hbs"
HB_VALID_G0056_DHBS RCDATA "g0056.hbs"
HB_VALID_G0057_DHBS RCDATA "g0057.hbs"
HB_VALID_G0058_DHBS RCDATA "g0058.hbs"
HB_VALID_G0059_DHBS RCDATA "g0059.hbs"
HB_VALID_G0060_DHBS RCDATA "g0060.hbs"
HB_VALID_G0061_DHBS RCDATA "g0061.hbs"
HB_VALID_G0062_DHBS RCDATA "g0062.hbs"
HB_VALID_G0063_DHBS RCDATA "g0063.hbs"
HB_VALID_G0064_DHBS RCDATA "g0064.hbs"
HB_VALID_G0065_DHBS RCDATA "g0065.hbs"
HB_VALID_G0066_DHBS RCDATA "g0066.hbs"
HB_VALID_G0067_DHBS RCDATA "g0067.hbs"
HB_VALID_G0068_DHBS RCDATA "g0068.hbs"
HB_VALID_G0069_DHBS RCDATA "g0069.hbs"
HB_VALID_G0070_DHBS RCDATA "g0070.hbs"
HB_VALID_G0071_DHBS RCDATA "g0071.hbs"
HB_VALID_G0072_DHBS RCDATA "g0072.hbs"
HB_VALID_G0073_DHBS RCDATA "g0073.hbs"
HB_VALID_G0074_DHBS RCDATA "g0074.hbs"
HB_VALID_G0075_DHBS RCDATA "g0075.hbs"
HB_VALID_G0076_DHBS RCDATA "g0076.hbs"
HB_VALID_G0077_DHBS RCDATA "g0077.hbs"
HB_VALID_G0078_DHBS RCDATA "g0078.hbs"
HB_VALID_G0079_DHBS RCDATA "g0079.hbs"
HB_VALID_G0081_DHBS RCDATA "g0081.hbs"
HB_VALID_G0082_DHBS RCDATA "g0082.hbs"
HB_VALID_G0083_DHBS RCDATA "g0083.hbs"
HB_VALID_G0084_DHBS RCDATA "g0084.hbs"
HB_VALID_G0085_DHBS RCDATA "g0085.hbs"
HB_VALID_G0087_DHBS RCDATA "g0087.hbs"
HB_VALID_G0088_DHBS RCDATA "g0088.hbs"
HB_VALID_G0089_DHBS RCDATA "g0089.hbs"
HB_VALID_G0090_DHBS RCDATA "g0090.hbs"
HB_VALID_G0091_DHBS RCDATA "g0091.hbs"
HB_VALID_G0092_DHBS RCDATA "g0092.hbs"
HB_VALID_G0093_DHBS RCDATA "g0093.hbs"
HB_VALID_G0094_DHBS RCDATA "g0094.hbs"
HB_VALID_G0095_DHBS RCDATA "g0095.hbs"
HB_VALID_G0097_DHBS RCDATA "g0097.hbs"
HB_VALID_G0098_DHBS RCDATA "g0098.hbs"
HB_VALID_G0099_DHBS RCDATA "g0099.hbs"
HB_VALID_G0100_DHBS RCDATA "g0100.hbs"
HB_VALID_G0101_DHBS RCDATA "g0101.hbs"
HB_VALID_G0102_DHBS RCDATA "g0102.hbs"
HB_VALID_G0103_DHBS RCDATA "g0103.hbs"
HB_VALID_G0104_DHBS RCDATA "g0104.hbs"
HB_VALID_G0105_DHBS RCDATA "g0105.hbs"
HB_VALID_G0106_DHBS RCDATA "g0106.hbs"
HB_VALID_G0107_DHBS RCDATA "g0107.hbs"
HB_VALID_G0108_DHBS RCDATA "g0108.hbs"
HB_VALID_G0109_DHBS RCDATA "g0109.hbs"
HB_VALID_G0110_DHBS RCDATA "g0110.hbs"
HB_VALID_G0111_DHBS RCDATA "g0111.hbs"
HB_VALID_G0112_DHBS RCDATA "g0112.hbs"
HB_VALID_G0113_DHBS RCDATA "g0113.hbs"
HB_VALID_G0114_DHBS RCDATA "g0114.hbs"
HB_VALID_G0115_DHBS RCDATA "g0115.hbs"
HB_VALID_G0116_DHBS RCDATA "g0116.hbs"
HB_VALID_G0117_DHBS RCDATA "g0117.hbs"
HB_VALID_G0118_DHBS RCDATA "g0118.hbs"
HB_VALID_G0119_DHBS RCDATA "g0119.hbs"
HB_VALID_G0120_DHBS RCDATA "g0120.hbs"
HB_VALID_G0121_DHBS RCDATA "g0121.hbs"
HB_VALID_G0122_DHBS RCDATA "g0122.hbs"
HB_VALID_G0123_DHBS RCDATA "g0123.hbs"
HB_VALID_G0124_DHBS RCDATA "g0124.hbs"
HB_VALID_G0125_DHBS RCDATA "g0125.hbs"
HB_VALID_G0126_DHBS RCDATA "g0126.hbs"
HB_VALID_G0127_DHBS RCDATA "g0127.hbs"
HB_VALID_G0128_DHBS RCDATA "g0128.hbs"
HB_VALID_G0129_DHBS RCDATA "g0129.hbs"
HB_VALID_G0130_DHBS RCDATA "g0130.hbs"
HB_VALID_G0131_DHBS RCDATA "g0131.hbs"
HB_VALID_H_UCONCAT2_DHBS RCDATA "h_concat2.hbs"
HB_VALID_H_ULOWER_DHBS RCDATA "h_lower.hbs"
HB_VALID_H_UUPPER_ULIT_DHBS RCDATA "h_upper_lit.hbs"
HB_VALID_H_UWRAP_DHBS RCDATA "h_wrap.hbs"
HB_VALID_HELPER_DHBS RCDATA "helper.hbs"
HB_VALID_HPART_UCTX_DHBS RCDATA "hpart_ctx.hbs"
HB_VALID_HPART_UCTX_UHASH_DHBS RCDATA "hpart_ctx_hash.hbs"
HB_VALID_HPART_UDYN_DHBS RCDATA "hpart_dyn.hbs"
HB_VALID_HPART_UHASH_DHBS RCDATA "hpart_hash.hbs"
HB_VALID_HPART_UPLAIN_DHBS RCDATA "hpart_plain.hbs"
HB_VALID_HPART_URAW_DHBS RCDATA "hpart_raw.hbs"
HB_VALID_KITCHENSINK_DHBS RCDATA "kitchensink.hbs"
HB_VALID_M_UBOOL_DHBS RCDATA "m_bool.hbs"
HB_VALID_M_UMISSING_DHBS RCDATA "m_missing.hbs"
HB_VALID_M_UMULTI_DHBS RCDATA "m_multi.hbs"
HB_VALID_M_UNOTAGS_DHBS RCDATA "m_notags.hbs"
HB_VALID_M_UNUM_DHBS RCDATA "m_num.hbs"
HB_VALID_M_UVAR_DHBS RCDATA "m_var.hbs"
HB_VALID_M_UWS_DHBS RCDATA "m_ws.hbs"
HB_VALID_NESTED_USUBEXPR_DHBS RCDATA "nested_subexpr.hbs"
HB_VALID_P_UHELPER_DHBS RCDATA "p_helper.hbs"
HB_VALID_P_UPLAIN_DHBS RCDATA "p_plain.hbs"
HB_VALID_P_UVAR_DHBS RCDATA "p_var.hbs"
HB_VALID_PARTIAL_UHOST_DHBS RCDATA "partial_host.hbs"
HB_VALID_PATH_DHBS RCDATA "path.hbs"
HB_VALID_PCARD_DHBS RCDATA "pcard.hbs"
HB_VALID_PRAW_DHBS RCDATA "praw.hbs"
HB_VALID_Q_UBRACES_DHBS RCDATA "q_braces.hbs"
HB_VALID_Q_UEMPTY_DHBS RCDATA "q_empty.hbs"
HB_VALID_Q_UPARENS_DHBS RCDATA "q_parens.hbs"
HB_VALID_Q_USINGLE_DHBS RCDATA "q_single.hbs"
HB_VALID_Q_USPACES_DHBS RCDATA "q_spaces.hbs"
HB_VALID_Q_USUB_ULITERAL_DHBS RCDATA "q_sub_literal.hbs"
HB_VALID_QUOTED_DHBS RCDATA "quoted.hbs"
HB_VALID_S_UDEEP_DHBS RCDATA "s_deep.hbs"
HB_VALID_S_ULITEQUAL_DHBS RCDATA "s_litequal.hbs"
HB_VALID_S_UMIXED_DHBS RCDATA "s_mixed.hbs"
HB_VALID_S_UMULTI_DHBS RCDATA "s_multi.hbs"
HB_VALID_S_UNESTED_DHBS RCDATA "s_nested.hbs"
HB_VALID_S_UONLYARG_DHBS RCDATA "s_onlyarg.hbs"
HB_VALID_S_USIMPLE_DHBS RCDATA "s_simple.hbs"
HB_VALID_S_UVARS_DHBS RCDATA "s_vars.hbs"
HB_VALID_SIMPLE_DHBS RCDATA "simple.hbs"
HB_VALID_SUBEXPR_DHBS RCDATA "subexpr.hbs"
