__history
__recovery
*.deployproj.local
*.dproj.local
*.groupproj.local
*.identcache
*.exe
*.res
*.rsm
Dcu
/Demos/**/Android/Debug
/Demos/**/Android64/Debug
/Demos/**/iOSDevice64/Debug
/Demos/**/iOSSimARM64/Debug
/Demos/**/OSX64/Debug
/Demos/**/OSXARM64/Debug
/Demos/**/Win32/Debug
/Demos/**/Win64/Debug
/Demos/**/Android/Release
/Demos/**/Android64/Release
/Demos/**/iOSDevice64/Release
/Demos/**/iOSSimARM64/Release
/Demos/**/OSX64/Release
/Demos/**/OSXARM64/Release
/Demos/**/Win32/Release
/Demos/**/Win64/Release
/Embarcadero/Rio/10_3_3/fmx
/Embarcadero/Rio/10_3_3/rtl
/Embarcadero/Sydney/10_4_2/rtl
/Embarcadero/Sydney/10_4_2/fmx
/Embarcadero/Alexandria/11_2/rtl
/Embarcadero/Alexandria/11_2/fmx
/Embarcadero/Alexandria/11_3/rtl
/Embarcadero/Alexandria/11_3/fmx
/Libraries/bpl
/Libraries/ios/firebase
/Libraries/ios/facebook
/Libraries/jar/*
!/Libraries/jar/org
/Libraries/jar/org/*
!/Libraries/jar/org/webrtc
/Tests/Win32/Debug
/Tests/Win64/Debug
/Tests/Android/Debug
/Tests/Android64/Debug
/Tests/iOSDevice64/Debug
/Tests/iOSSimARM64/Debug
/Tests/OSX64/Debug
/Tests/OSXARM64/Debug
/Tests/Win32/Release
/Tests/Win64/Release
/Tests/Android/Release
/Tests/Android64/Release
/Tests/iOSDevice64/Release
/Tests/iOSSimARM64/Release
/Tests/OSX64/Release
/Tests/OSXARM64/Release
/Tools/AndroidMerger/tmp
/Tools/NativeBridgeFileGenerator/OutputAndroid
/Tools/NativeBridgeFileGenerator/OutputIOS