/tools/AddRJavaToClassesDex/AddRJavaToClassesDex.log
/references/embarcadero/rio/10_3_1/originals/fmx
/references/embarcadero/rio/10_3_1/originals/rtl
/references/embarcadero/tokyo/10_2_3/originals/fmx
/references/embarcadero/tokyo/10_2_3/originals/rtl
/demos/ALLiveVideoChat/client/_source/ios/frameworks/WebRTC.framework/_CodeSignature
/demos/ALLiveVideoChat/client/_source/ios/frameworks/WebRTC.framework/Info.plist
/demos/ALLiveVideoChat/client/_source/ios/frameworks/WebRTC.framework/LICENSE.md
/demos/ALLiveVideoChat/client/_source/ios/frameworks/WebRTC.framework/WebRTC
*.rsm 
*.dcu 
*.identcache 
*.dproj.local 
*.groupproj.local 
*.stat
