/****************************************************************************************************

  VistaElevate.rc

****************************************************************************************************/

LANGUAGE 0,0 1 24 "JclCommCtrlAdmin.manifest"
