activity RCDATA "activity.png"
add RCDATA "add.png"
bigrainbowcircle RCDATA "bigrainbowcircle.png"
bookmark RCDATA "bookmark.png"
broken_image RCDATA "broken_image.png"
comments RCDATA "comments.png"
cross RCDATA "cross.png"
home RCDATA "home.png"
like RCDATA "like.png"
menu RCDATA "menu.png"
menu_dark RCDATA "menu_dark.png"
message RCDATA "message.png"
profile RCDATA "profile.png"
rainbowcircle RCDATA "rainbowcircle.png"
refresh_thick RCDATA "refresh_thick.png"
refresh_thin RCDATA "refresh_thin.png"
ring_anim_thick RCDATA "ring_anim_thick.png"
ring_anim_thin RCDATA "ring_anim_thin.png"
search RCDATA "search.png"
video RCDATA "video.png"