posts RCDATA "posts.json"
stories RCDATA "stories.json"
rainbowcircle RCDATA "rainbowcircle.png"
bigrainbowcircle RCDATA "bigrainbowcircle.png"
menu RCDATA "menu.png"
menu_dark RCDATA "menu_dark.png"
bookmark RCDATA "bookmark.png"
message RCDATA "message.png"
comments RCDATA "comments.png"
like RCDATA "like.png"
broken_image RCDATA "broken_image.png"
profile RCDATA "profile.png"
video RCDATA "video.png"
add RCDATA "add.png"
search RCDATA "search.png"
home RCDATA "home.png"
activity RCDATA "activity.png"
suggested RCDATA "suggested.json"
cross RCDATA "cross.png"