<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	
	<key>application-identifier</key>
	<string>D2AVVF3775.club.kiskis.app.ios</string>
	
	<key>beta-reports-active</key>
	<true/>
	<key>aps-environment</key>
	<string>production</string>
	<key>com.apple.developer.associated-domains</key>
	<string>*</string>
	<key>get-task-allow</key>
	<false/>
	<key>com.apple.developer.team-identifier</key>
	<string>D2AVVF3775</string>
	<key>com.apple.developer.applesignin</key>
	<array>
	<string>Default</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>D2AVVF3775.club.kiskis.app.ios</string>
		<string>com.apple.token</string>
	</array>
</dict>
</plist>
