TZCONNECTION      BITMAP "TZConnection.bmp"
TZREADONLYQUERY   BITMAP "TZReadOnlyQuery.bmp"
TZQUERY           BITMAP "TZQuery.bmp"
TZUPDATESQL       BITMAP "TZUpdateSQL.bmp"
TZSQLPROCESSOR    BITMAP "TZSQLProcessor.bmp"
TZTABLE           BITMAP "TZTable.bmp"
TZSTOREDPROC      BITMAP "TZStoredProc.bmp"
TZSQLMONITOR      BITMAP "TZSQLMonitor.bmp"
TZSQLMETADATA     BITMAP "TZSQLMetaData.bmp"
TZSEQUENCE        BITMAP "TZSequence.bmp"
TZIBEVENTALERTER  BITMAP "TZIBEventAlerter.bmp"