aniindicator_540x432 RCDATA "resources\\aniindicator_540x432.png"
checkbox_checked_88x88 RCDATA "resources\\checkbox_checked_88x88.png"
checkbox_unchecked_88x88 RCDATA "resources\\checkbox_unchecked_88x88.png"
four_720x720 RCDATA "resources\\four_720x720.png"
one_720x720 RCDATA "resources\\one_720x720.png"
radio_checked_88x88 RCDATA "resources\\radio_checked_88x88.png"
radio_unchecked_88x88 RCDATA "resources\\radio_unchecked_88x88.png"
thumb_144x144 RCDATA "resources\\thumb_144x144.png"
tree_720x720 RCDATA "resources\\tree_720x720.png"
two_720x720 RCDATA "resources\\two_720x720.png"
