<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473525438998-kg1g48bn0co67v9vq5gs84vbjkja1iaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473525438998-kg1g48bn0co67v9vq5gs84vbjkja1iaq</string>
	<key>API_KEY</key>
	<string>AIzaSyCzkS27HetJCR_8eduBp3WOkeCMJdTyP4g</string>
	<key>GCM_SENDER_ID</key>
	<string>473525438998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ALFirebaseMessaging.app</string>
	<key>PROJECT_ID</key>
	<string>alfirebasemessagingapp</string>
	<key>STORAGE_BUCKET</key>
	<string>alfirebasemessagingapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473525438998:ios:fc9b83f2050a580ae50337</string>
</dict>
</plist>