alcinoe_arrow_back RCDATA "alcinoe_arrow_back.png"
alcinoe_arrow_next RCDATA "alcinoe_arrow_next.png"
alcinoe_broken_image RCDATA "alcinoe_broken_image.png"
alcinoe_cross RCDATA "alcinoe_cross.png"
alcinoe_loading_indicator RCDATA "alcinoe_loading_indicator.json"